@use './variables' as *;


.bg-home {
    height: calc(100vh - 56px);

    .my_btn {
        border: 1px solid $accentColor;
        background-color: white;

        font-weight: bold;
        color: $accentColor;

        padding-inline: 50px;
        border-radius: 20px;

        &:hover {
            border: 1px solid white;
            background-color: $accentColor;
            color: white;
        }
    }
}